  :root {
  --bg-color: #F2F2F2;
  --text-color: #282828;
  --btn-cone: #FF5E00;
  --bg-two: #959396;
  --text-heading: #FF5E00;
}

  
  .faq-container-content{
    width: 100%;
    background: var(--bg-color);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faq-container {
    padding: 80px 20px;
    width: 100%;
    max-width: 1600px;
    /* background: blue; */
    height:80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .faq-header{
    width: 650px;
    height: 100%;
  }

  .faq-header h2 {
    color: var(--text-heading);
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .faq-header h1{
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .faq-header button{
    width: 250px;
    padding: 15px 10px;
    border-radius: 50px;
    background: #ffffff;
    color: #000;
    font-size: 0.9rem;
    font-weight: 800;
    border: 1px solid #ccc;
    outline: none;
    transition: background 0.3s ease;
    cursor: pointer;
  }

  .faq-card-header{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .faq-header p {
    color: #555;
    margin-bottom: 40px;
  }

  .faq-grid {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 100%;
    gap: 30px;
    margin-bottom: 60px;
  }

  .faq-card {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 16px;
    padding: 30px;
    text-align: left;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.03);
    transition: 0.3s ease;
  }

  .faq-card:hover {
    transform: translateY(-5px);
  }

  .faq-card .icon {
    font-size: 1.5rem;
    background: #e7e9fc;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #4e4de6;
  }

  .faq-card h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .faq-card p {
    font-size: 0.95rem;
    color: #555;
    display: none;
  }

  .faq-line {
    width: 2px;
    height: 100%;
    background: #eeebeb;
  }

  .faq-support-CTA{
    height: 150px;
  }

  .faq-support .avatars img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: -10px;
    box-shadow: 0 0 0 2px #f5f7fd;
  }

  .faq-support h4 {
    margin-top: 20px;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .faq-support p {
    font-size: 0.95rem;
    margin-bottom: 20px;
  }

  .btn-purple {
    background: #4e4de6;
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }

  .btn-purple:hover {
    background: #3a3ac1;
  }